---
interface Props{
  id: string
  title: string
  classAlt?: string
}

const { id, title, classAlt } = Astro.props
---
<button id={id} type="button" title={title} class={`bg-white dark:bg-gray-900 border rounded-lg p-2 group border-gray-900 dark:border-white ${classAlt}`}>
  <slot />
</button>